@font-face {
  font-family: Archivo;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/archivo-v18-latin-800.woff2') format('woff2'),
    url('/assets/fonts/archivo-v18-latin-800.woff') format('woff');
}

@font-face {
  font-family: Archivo;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/archivo-v18-latin-800italic.woff2') format('woff2'),
    url('/assets/fonts/archivo-v18-latin-800italic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/libre-franklin-v13-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/libre-franklin-v13-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/libre-franklin-v13-latin-italic.woff2') format('woff2'),
    url('/assets/fonts/libre-franklin-v13-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/libre-franklin-v13-latin-700.woff2') format('woff2'),
    url('/assets/fonts/libre-franklin-v13-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/libre-franklin-v13-latin-700italic.woff2')
      format('woff2'),
    url('/assets/fonts/libre-franklin-v13-latin-700italic.woff') format('woff');
}

html {
  scroll-behavior: smooth;
  font-family: var(--body-typeface);
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.8392857142857143rem + 0.4464285714285714vw,
    1.375rem
  );
  line-height: 1.6;
  font-size: 1rem;
  font-size: clamp(1rem, 0.800531914893617rem + 0.6382978723404256vw, 1.375rem);
}

body {
  height: 100%;
  min-height: 100vh;

  background-color: var(--primary);
  background-image: var(--mesh-gradient);
}
