[class*='grid'] {
    display: grid;
  }
  
  [class*='flex'] {
    display: flex;
    align-items: center;
  }

.flex-row,
 .flex-column {
    gap: 1rem;
}

.flex-column {
    flex-direction: column;
}