<div class='i-nav-flex'>
  <button class='i-search-button' aria-label='search'>
    <svg viewBox='0 0 24 24' fill='currentColor' aria-hidden='true'><path
        fill='none'
        d='M0 0h24v24H0z'
      ></path><path
        d='M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z'
      ></path>
    </svg>
  </button>
  <div class='i-nav-center'>
    <a href='{{@site.url}}' aria-label='home'>
      {{#is 'home'}}
        <h1>{{@site.title}}</h1>
      {{else}}
        <p>{{@site.title}}</p>
      {{/is}}
    </a>
  </div>
  <button class='i-menu-button' aria-label='menu'>
    <svg viewBox='0 0 24 24' fill='currentColor' aria-hidden='true'><path
        fill='none'
        d='M0 0h24v24H0z'
      ></path><path
        d='M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z'
      ></path></svg>
  </button>
</div>