<div class='i-nav-flex'>
  <button class='i-search-button' aria-label='search'>
    <svg fill='currentColor' viewBox='0 0 16 16'>
      <path
        d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'
      ></path>
    </svg>
  </button>
  <div class='i-nav-center'>
    <a href='{{@site.url}}' aria-label='home'>
      {{#is 'home'}}
        <h1>{{@site.title}}</h1>
      {{else}}
        <p>{{@site.title}}</p>
      {{/is}}
    </a>
  </div>
  <button class='i-menu-button' aria-label='menu'>
    <svg viewBox='0 0 20 20' fill='currentColor' aria-hidden='true'>
      <path
        fill-rule='evenodd'
        d='M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z'
        clip-rule='evenodd'
      ></path>
    </svg>
  </button>
</div>