<article class="i-picture-card">
    <a class="i-picture-card-link-flex" href="{{url}}">
        <img src="{{feature_image}}" alt="">
        <h3 class="i-picture-card-title">{{title}}</h3>
    </a>
</article>