<div class='i-search'>
  <div class='i-search-input-container flex-row'>
    <svg
      class='i-search-icon'
      viewBox='0 0 24 24'
      fill='currentColor'
      aria-hidden='true'
    ><path fill='none' d='M0 0h24v24H0z'></path><path
        d='M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z'
      ></path>
    </svg>
    <input
      class='i-search-input'
      type='text'
      placeholder='Type to search'
      aria-label='search'
    />
    <button class='i-search-close'>
      <svg viewBox='0 0 24 24' fill='currentColor' aria-hidden='true'><path
          fill='none'
          d='M0 0h24v24H0z'
        ></path><path
          d='M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm0-9.414l2.828-2.829 1.415 1.415L13.414 12l2.829 2.828-1.415 1.415L12 13.414l-2.828 2.829-1.415-1.415L10.586 12 7.757 9.172l1.415-1.415L12 10.586z'
        ></path></svg>
    </button>
  </div>

  <div class='i-search-results'></div>
</div>