{{!-- Put this into default.hbs --}}
{{!< default}}

{{!-- Navbar partial --}}
{{> "navbar"}}
{{> "search"}}

<main id="main">
    <section class="i-hero i-home-section">
        
                <div class="i-hero-grid-flex">
                    <div class="i-hero-grid">
                        <div class="i-hero-text">
                            <p>Hello, I'm Ryan.</p>
                            <p>I'm a Developer Experience Engineer at the open source, publishing platform <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
                            <p>I love building websites and apps with <span class="i-js">JavaScript</span> and sharing what I learn</p
                            >
                            <p><a href="#/portal/subscribe">Subscribe to my newsletter</a> so you don't fall behind and get held back or just check out some of my favorite writing &rarr;</p>
                        </div>
                        <img class="i-hero-img" src="{{img_url @site.cover_image}}" alt="">
                    </div>
                    <div class="i-hero-grid-cards">
                        {{#get "posts" filter="featured:true" include="tags" limit="3" as |featured|}}
                        {{#foreach featured}}
                            {{> "line-card"}}
                        {{/foreach}}
                        {{/get}}
                    </div>
                </div>
        <div class="i-hero-inner-border">
            
            
        </div>
    </section>

    <section class="i-home-cards i-home-section">
        <h2 class="i-home-cards-title">Things I've Made</h2>
        <div class="i-home-cards-grid">
            {{#get "posts" include="tags" filter="tags:things+featured:false" limit="6" as |sites| }}
                {{#foreach sites}}
                    {{> "picture-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>

    <section class="i-home-cards i-home-section i-home-cards-bg-2">
            <h2 class="i-home-cards-title">Web Dev &amp; Design</h2>
        <div class="i-home-cards-grid">
            {{#get "posts" include="tags" filter="tags:web-dev+tags:-css+featured:false" limit="6" as |sites| }}
                {{#foreach sites}}
                    {{> "picture-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>

    <section class="i-poodle i-home-section">
        <video autoplay loop preload muted width="1280">
        <source src="/assets/video/poodle.mp4"
            type="video/webm">
        </video>
        <div class="i-poodle-flex">
            <div class="i-poodle-top">
                <p>Here's the thing</p>
                <p>Here's the thing</p>
                <p>Here's the thing</p>
            </div>
            <div class="i-poodle-bottom">
                <p>Life's nothing without a poodle<br><em>and an ice cream cone</em></p>
            </div>
        </div>
    </section>

    <section class="i-home-cards i-home-section i-home-cards-bg-2">
            <h2 class="i-home-cards-title">Words on Words</h2>
        <div class="i-home-cards-grid">
            {{#get "posts" include="tags" filter="tags:words" limit="6" as |sites| }}
                {{#foreach sites}}
                    {{> "picture-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>

    <section class="i-home-section i-cta">
            <h2 class="i-home-cards-title">It's epistolary, bro</h2>
        <div class="flex-column">
            <div class="i-cta-text">
                <p>It's not a poodle or ice cream, but your life's better (or, more truthfullly, different) with my newsletter</p>
                <p>I mostly write about web dev &amp; design, but once in a while there's a recipe, etymology, or story thrown in for good measure</p>
            </div>
            <form class="i-cta-form" data-members-form="subscribe">
                <div class="flex-column">
                    
                    <input type="email" class="i-input" aria-label="email">
                    <span class="i-cta-icon">
                        <svg class="i-mail-default" viewBox="0 0 24 24" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z"/><path d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z"/></svg>
                        <svg class="i-mail-success" viewBox="0 0 24 24" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z"/><path d="M22 14h-2V7.238l-7.928 7.1L4 7.216V19h10v2H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h18a1 1 0 0 1 1 1v10zM4.511 5l7.55 6.662L19.502 5H4.511zM19 22l-3.536-3.536 1.415-1.414L19 19.172l3.536-3.536 1.414 1.414L19 22z"/></svg>
                        <svg class="i-mail-error" viewBox="0 0 24 24" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5h2v2h-2v-2zm0-8h2v6h-2V7z"/></svg>
                        <svg class="i-mail-loading"  viewBox="0 0 24 24" aria-hidden="true"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 2a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0V3a1 1 0 0 1 1-1zm0 15a1 1 0 0 1 1 1v3a1 1 0 0 1-2 0v-3a1 1 0 0 1 1-1zm8.66-10a1 1 0 0 1-.366 1.366l-2.598 1.5a1 1 0 1 1-1-1.732l2.598-1.5A1 1 0 0 1 20.66 7zM7.67 14.5a1 1 0 0 1-.366 1.366l-2.598 1.5a1 1 0 1 1-1-1.732l2.598-1.5a1 1 0 0 1 1.366.366zM20.66 17a1 1 0 0 1-1.366.366l-2.598-1.5a1 1 0 0 1 1-1.732l2.598 1.5A1 1 0 0 1 20.66 17zM7.67 9.5a1 1 0 0 1-1.366.366l-2.598-1.5a1 1 0 1 1 1-1.732l2.598 1.5A1 1 0 0 1 7.67 9.5z"/></svg>
                    </span>
                </div>
                <button class="i-button">
                    <span class="i-mail-default">Subscribe</span><span class="i-mail-success">Success. Check your inbox</span><span class="i-mail-error">Error. Try again</span><span class="i-mail-loading">Doing some things...</span>
                </button>
            </form>
        </div>
    </section>

    <section class="i-home-cards i-home-section i-home-cards-bg-2">
            <h2 class="i-home-cards-title">For the Braniacs</h2>
        <div class="i-home-cards-grid">
            {{#get "posts" include="tags" filter="tags:academic" limit="6" as |sites| }}
                {{#foreach sites}}
                    {{> "line-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>
</main>

{{> "footer"}}
