{{!-- Put this into default.hbs --}}
{{!< default}}

{{!-- Navbar partial --}}
{{> "navbar"}}
{{> "search"}}

<main id="main">
    <section class="i-hero i-home-section">
        
                <div class="i-hero-grid-flex">
                    <div class="i-hero-grid">
                        <div class="i-hero-text">
                            <p>Hello, I'm Ryan.</p>
                            <p>I'm a Developer Experience Engineer at the open source, publishing platform <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></p>
                            <p>I love building websites and apps with <span class="i-js">JavaScript</span> and sharing what I learn</p
                            >
                            <p><a href="#/portal/subscribe">Subscribe to my newsletter</a> so you don't fall behind and get held back or just check out some of my favorite writing &rarr;</p>
                        </div>
                        <img class="i-hero-img" src="{{img_url @site.cover_image}}" alt="">
                    </div>
                    <div class="i-hero-grid-cards">
                        {{#get "posts" filter="featured:true" include="tags" limit="3" as |featured|}}
                        {{#foreach featured}}
                            {{> "line-card"}}
                        {{/foreach}}
                        {{/get}}
                    </div>
                </div>
        <div class="i-hero-inner-border">
            
            
        </div>
    </section>

    <section class="i-home-cards i-home-section">
        <h2 class="i-home-cards-title">Things I've Made</h2>
        <div class="i-home-cards-grid">
            {{#get "posts" include="tags" filter="tags:things+featured:false" limit="6" as |sites| }}
                {{#foreach sites}}
                    {{> "picture-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>

    <section class="i-home-cards i-home-section i-home-cards-bg-2">
            <h2 class="i-home-cards-title">Web Dev &amp; Design</h2>
        <div class="i-home-cards-grid">
            {{#get "posts" include="tags" filter="tags:web-dev+tags:-css+featured:false" limit="6" as |sites| }}
                {{#foreach sites}}
                    {{> "picture-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>

    <section class="i-poodle i-home-section">
        <video autoplay loop preload muted width="1280">
        <source src="/assets/video/poodle.mp4"
            type="video/webm">
        </video>
        <div class="i-poodle-flex">
            <div class="i-poodle-top">
                <p>Here's the thing</p>
                <p>Here's the thing</p>
                <p>Here's the thing</p>
            </div>
            <div class="i-poodle-bottom">
                <p>Life's nothing without a poodle<br><em>and an ice cream cone</em></p>
            </div>
        </div>
    </section>

    <section class="i-home-cards i-home-section i-home-cards-bg-2">
            <h2 class="i-home-cards-title">Words on Words</h2>
        <div class="i-home-cards-grid">
            {{#get "posts" include="tags" filter="tags:words" limit="6" as |sites| }}
                {{#foreach sites}}
                    {{> "picture-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>

    <section class="i-home-section i-cta">
            <h2 class="i-home-cards-title">Pen Pals</h2>
        <div class="flex-column">
            <div class="i-cta-text">
                <p>It's not a poodle or ice cream, but your life's better (or, more truthfullly, different) with my newsletter</p>
                <p>I mostly write about web dev &amp; design, but once in a while there's a recipe, etymology, or story thrown in for good measure</p>
            </div>
            <form class="i-cta-form" data-members-subscribe>
                <div class="flex-column">
                    
                    <input type="email" class="i-input" aria-label="email">
                    <span class="i-cta-icon">
                        <svg
                        fill='currentColor'
                        viewBox='0 0 16 16'
                        >
                        <path
                            d='M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z'
                        ></path>
                        </svg>
                    </span>
                </div>
                <button class="i-button">Subscribe</button>
            </form>
        </div>
    </section>

    <section class="i-home-cards i-home-section i-home-cards-bg-2">
            <h2 class="i-home-cards-title">For the Braniacs</h2>
        <div class="i-home-cards-grid">
            {{#get "posts" include="tags" filter="tags:academic" limit="6" as |sites| }}
                {{#foreach sites}}
                    {{> "line-card"}}
                {{/foreach}}
            {{/get}}
        </div>
    </section>
</main>

