{{!-- Put this into default.hbs --}}
{{!< default}}

{{!-- Navbar partial --}}
{{> "navbar"}}
{{> "search"}}

<main id="i-main">
    
    <div class="i-home-section">
        <h1 class="i-home-cards-title">{{#tag}}{{name}}{{/tag}}</h1>
        <div class="i-home-cards-grid">
            {{#foreach posts from="1" to="6"}}
                {{> "picture-card"}}
            {{/foreach}}
        </div>
    </div>

{{#match posts.length ">" 6}}
    <div class="i-home-section">
        <div class="i-home-cards-grid">
            {{#foreach posts from="7" to="12"}}
                {{> "line-card"}}
            {{/foreach}}
        </div>
    </div>
{{/match}}

</main>

{{pagination}}

{{> "footer"}}
