/* Add footer styles here */
.i-footer {
    padding: 2rem 1rem 0;
    margin-block: auto;
}

.i-footer .nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    font-size: var(--x-small);
    text-transform: uppercase;
    list-style-type: none;
}

.i-footer a {
    color: var(--white);
    text-decoration: none;
}