.i-nav-flex {
  justify-content: space-between;
  color: var(--white);
}

.i-nav-flex button {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--white);
}

.i-nav-center h1,
.i-nav-center p,
.i-nav-center a {
  margin-block-end: 0;
  font-size: var(--h5);
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
