/* Variables */
:root {
  /* Space */
  --phone: 576px;
  --tablet: 768px;
  --laptop: 992px;
  --desktop: 1200px;
  --widescreen: 1400px;
  --gap: 1rem;
  --width: 1024px;
  --post-width: 768px;
  --content-width: 650px;
  --radius: 0.5em;
  --button-padding: 0.5em 0.75em;

  /* Type */
  --heading-typeface: 'Archivo', sans-serif;
  --body-typeface: 'Libre Franklin', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  --mono-typeface: 'JetBrains Mono', 'Cascadia Code', 'Fira Code', 'Menlo',
    monospace;
  --letter-spacing: 0.2px;
  --h1: 2.488rem;
  --h2: 2.074rem;
  --h3: 1.728rem;
  --h4: 1.44rem;
  --h5: 1.2rem;
  --h6: 1rem;
  --small: 0.833rem;
  --x-small: 0.694rem;
  --xx-small: 0.579rem;

  --gradient-bg: var(--primary);
  --mesh-gradient: radial-gradient(
      at 40% 20%,
      hsla(var(--primary-h), 100%, 74%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 80% 0%,
      hsla(calc(var(--primary-h) - 10), 100%, 56%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 0% 50%,
      hsla(var(--complementary-color), 100%, 93%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 80% 50%,
      hsla(calc(var(--complementary-color) + 10), 100%, 76%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 0% 100%,
      hsla(calc(var(--complementary-color) - 10), 100%, 77%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 80% 100%,
      hsla(calc(var(--primary-h) - 20), 100%, 70%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 0% 0%,
      hsla(calc(var(--primary-h) - 10), 100%, 76%, 1) 0,
      transparent 50%
    );
}
@media (min-width: 992px) {
  :root {
    --gap: 1.5rem;
  }
}
/* Color scheme */
:root[data-color-pref='light'] {
  --primary: hsl(var(--primary-h) var(--saturation) var(--lightness));
  --primary-light: hsl(var(--primary-h) var(--saturation) var(--lightness));
  --primary-dark: hsl(var(--primary-h) var(--saturation) var(--lightness));
  --secondary: hsl(
    var(--complementary-color) var(--saturation) var(--lightness)
  );
  --secondary-light: hsl(
    var(--complementary-color) var(--saturation) var(--lightness)
  );
  --secondary-dark: hsl(
    var(--complementary-color) var(--saturation) var(--lightness)
  );

  --surface: hsl(var(--primary-h) 5% 98%);
  --surface-85: hsla(var(--primary-h) 5% 98% / 0.85);
  --surface-light: hsl(var(--primary-h) 5% 100%);
  --surface-dark: hsl(var(--primary-h) 5% 89%);
  --surface-darker: hsl(var(--primary-h) 5% 82%);

  --element: hsl(var(--primary-h) 10% 5%);
  --element-light: hsl(var(--primary-h) 10% 35%);
  --element-dark: hsl(var(--primary-h) 10% 1%);
  --white: #fff;

  --border-color: hsla(var(--primary-h) 10% 82% / 0.5);
  --border-color-accent: hsla(var(--primary-h) 10% 72% / 0.5);
  --button-text: hsl(var(--primary-h) 10% 100%);

  --box-shadow: 0 0.7px 2.2px hsla(var(--primary-h) var(--saturation) 9% / 0.02),
    0 1.6px 5.3px hsla(var(--primary-h) var(--saturation) 9% / 0.028),
    0 3px 10px hsla(var(--primary-h) var(--saturation) 9% / 0.035),
    0 5.4px 17.9px hsla(var(--primary-h) var(--saturation) 9% / 0.042),
    0 10px 33.4px hsla(var(--primary-h) var(--saturation) 9% / 0.05),
    0 24px 80px hsla(var(--primary-h) var(--saturation) 9% / 0.07);
}
:root[data-color-pref='dark'] {
  /* Color */
  --primary: hsl(
    var(--primary-h) var(--saturation) calc(var(--lightness) * 1.5)
  );
  --primary-light: hsl(
    var(--primary-h) var(--saturation) calc(var(--lightness) * 1.75)
  );
  --primary-dark: hsl(
    var(--primary-h) var(--saturation) calc(var(--lightness) * 1.15)
  );

  --secondary: hsl(
    var(--complementary-color) var(--saturation) calc(var(--lightness) * 1.5)
  );
  --secondary-light: hsl(
    var(--complementary-color) var(--saturation) calc(var(--lightness) * 1.75)
  );
  --secondary-dark: hsl(
    var(--complementary-color) var(--saturation) calc(var(--lightness) * 1.15)
  );

  --element: hsl(var(--primary-h) 10% 96%);
  --element-light: hsl(var(--primary-h) 10% 100%);
  --element-dark: hsl(var(--primary-h) 10% 89%);
  --element-darker: hsl(var(--primary-h) 10% 82%);

  --surface: hsl(var(--primary-h) 5% 5%);
  --surface-85: hsla(var(--primary-h) 5% 5% / 0.85);
  --surface-light: hsl(var(--primary-h) 5% 15%);
  --surface-dark: hsl(var(--primary-h) 5% 3%);
  --surface-darker: hsl(var(--primary-h) 5% 1%);
  --white: #fff;

  --border-color: hsla(var(--primary-h) 10% 35% / 0.5);
  --border-color-accent: hsla(var(--primary-h) 10% 25% / 0.5);
  --button-text: hsl(var(--primary-h) 10% 3%);

  --box-shadow: 0 0.7px 2.2px hsla(var(--primary-h) var(--saturation) 1% / 0.02),
    0 1.6px 5.3px hsla(var(--primary-h) var(--saturation) 1% / 0.048),
    0 3px 10px hsla(var(--primary-h) var(--saturation) 1% / 0.055),
    0 5.4px 17.9px hsla(var(--primary-h) var(--saturation) 1% / 0.062),
    0 10px 33.4px hsla(var(--primary-h) var(--saturation) 1% / 0.07),
    0 24px 80px hsla(var(--primary-h) var(--saturation) 1% / 0.09);
}
/* webdev, things, ghost, travel, academic, words */
.tag-web-dev {
  --tag: hsl(
    calc(min(var(--complementary-color) + 30, 360)) var(--saturation) 80%
  );
}
.tag-academic {
  --tag: hsl(
    calc(max(var(--complementary-color) - 30, 1)) var(--saturation) 80%
  );
}
.tag-travel {
  --tag: hsl(
    calc(min(var(--complementary-color) + 120, 360)) var(--saturation) 80%
  );
}
.tag-ghost-tag {
  --tag: hsl(calc(min(var(--primary-h) + 30, 360)) var(--saturation) 80%);
}
.tag-things {
  --tag: hsl(calc(max(var(--primary-h) - 30, 1)) var(--saturation) 80%);
}
.tag-words {
  --tag: hsl(calc(min(var(--primary-h) + 120, 360)) var(--saturation) 80%);
}
/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:link,
:visited {
  color: var(--primary);
}
button {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background: none;
  border: 0;
}
button > svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}
[class*='grid'] {
  display: grid;
}
[class*='flex'] {
  display: flex;
  align-items: center;
}
.flex-row,
.flex-column {
  gap: 1rem;
}
.flex-column {
  flex-direction: column;
}
.no-scroll {
  overflow: hidden;
}
.scroll-snap {
  /* scroll-snap-type: y; */
}
@font-face {
  font-family: Archivo;
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/archivo-v18-latin-800.woff2') format('woff2'),
    url('/assets/fonts/archivo-v18-latin-800.woff') format('woff');
}
@font-face {
  font-family: Archivo;
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/archivo-v18-latin-800italic.woff2') format('woff2'),
    url('/assets/fonts/archivo-v18-latin-800italic.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/libre-franklin-v13-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/libre-franklin-v13-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/libre-franklin-v13-latin-italic.woff2') format('woff2'),
    url('/assets/fonts/libre-franklin-v13-latin-italic.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/libre-franklin-v13-latin-700.woff2') format('woff2'),
    url('/assets/fonts/libre-franklin-v13-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local(''),
    url('/assets/fonts/libre-franklin-v13-latin-700italic.woff2')
      format('woff2'),
    url('/assets/fonts/libre-franklin-v13-latin-700italic.woff') format('woff');
}
html {
  scroll-behavior: smooth;
  font-family: var(--body-typeface);
  font-size: 1rem;
  font-size: clamp(
    1rem,
    0.8392857142857143rem + 0.4464285714285714vw,
    1.375rem
  );
  line-height: 1.6;
  font-size: 1rem;
  font-size: clamp(1rem, 0.800531914893617rem + 0.6382978723404256vw, 1.375rem);
}
body {
  height: 100%;
  min-height: 100vh;

  background-color: var(--primary);
  background-image: var(--mesh-gradient);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.5em 0 0.5em;
  font-family: var(--heading-typeface);
  font-weight: 800;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}
small {
  font-size: var(--small);
}
[class*='grid'] {
  display: grid;
}
[class*='flex'] {
  display: flex;
  align-items: center;
}
/* Layout */
.i-nav-flex {
  justify-content: space-between;
  color: var(--white);
  padding: 1rem;
}
.i-nav-flex button {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--white);
}
.i-nav-center h1,
.i-nav-center p,
.i-nav-center a {
  font-size: var(--h5);
  font-weight: 700;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
/* Add footer styles here */
.i-footer {
    margin-block: auto;
    padding: 2rem 1rem 0;
}
.i-footer .nav {
    display: flex;
    justify-content: center;
    font-size: var(--x-small);
    text-transform: uppercase;
    list-style-type: none;
    gap: 1rem;
}
.i-footer a {
    color: var(--white);
    text-decoration: none;
}
/* Pages */
.i-home-section {
  padding: 3rem 2rem;
  margin-inline: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  scroll-snap-align: center;
  --bg-primary-1: hsl(var(--primary-h) 50% 10%);
  --bg-primary-2: hsl(var(--primary-h) 50% 10%);
  --bg-secondary-1: hsl(var(--complementary-color) 50% 10%);
  --bg-secondary-2: hsl(var(--complementary-color) 50% 10%);
  --bg-tertiary-1: hsl(calc(var(--primary-h) + 300) 50% 10%);
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .home-template {
    padding: 0 1rem 1rem;
  }
  .i-home-section {
    max-width: calc(100% - 4rem);
  }
}
.i-home-section:nth-of-type(2) {
  background-color: var(--bg-secondary-1);
}
.i-home-section:nth-of-type(3) {
  background-color: var(--bg-tertiary-1);
}
.i-home-section:nth-of-type(5) {
  background-color: var(--bg-primary-2);
}
.i-home-section:nth-of-type(7) {
  background-color: var(--bg-secondary-2);
}
/* Hero */
.i-hero {
  --inline: 12vw;
  position: relative;
  min-height: calc(100vh - 3.6rem);
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: var(--bg-primary-1);
  padding: 0;
}
.i-hero-grid-flex {
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.i-hero-inner-border {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  height: calc(100% - 3rem);
  width: calc(100% - 3rem);
  border-color: hsl(var(--complementary-color) 70% 80%);
  border-style: solid;
  border-width: 1rem 1rem 0;
  transform: translateX(-50%);
  pointer-events: none;
}
.i-hero-grid {
  grid-template-columns: 1fr 1fr;
  margin-block: 3rem;
  gap: 3rem;
}
.i-hero-img {
  width: 100%;
  height: 22rem;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-15%);
}
.i-hero-content-container {
  max-width: 69rem;
  margin-inline: auto;
}
.i-hero-text {
  font-size: 1.15rem;
  color: var(--white);
  -webkit-margin-start: var(--inline);
          margin-inline-start: var(--inline);
}
.i-hero-text p:first-of-type {
  font-family: var(--heading-typeface);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
.i-hero-text p:not(:first-child) {
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}
.i-hero-grid-cards {
  grid-template-columns: repeat(3, minmax(160px, 18rem));
  gap: 3rem 2rem;
  padding-inline: var(--inline);
  -webkit-margin-after: 3rem;
          margin-block-end: 3rem;
  align-self: flex-start;
  width: 100%;
}
/* Poodle */
.i-poodle {
  aspect-ratio: 16 / 9;
  position: relative;
}
.i-home-section.i-poodle {
  min-height: auto;
}
.i-poodle::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: var(--secondary);
  mix-blend-mode: saturation;
}
.i-poodle video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.i-poodle-flex {
  position: relative;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: var(--heading-typeface);
  font-size: var(--h2);
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
.i-poodle-top p + p {
  margin-top: 0.15rem;
}
.i-poodle-top p:first-child {
  opacity: 0.25;
}
.i-poodle-top p:nth-child(2) {
  opacity: 0.75;
}
/* Cards */
.i-home-cards-grid {
  grid-template-columns: repeat(3, minmax(10rem, 12rem));
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
  row-gap: 3rem;
  justify-content: center;
}
.i-home-cards {
  overflow: hidden;
}
.i-home-cards-bg-2 {
}
.i-home-cards-title-flex {
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  margin: 1rem 0 2rem;
}
.i-home-cards-title {
  /* transform: translateY(25%); */
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 3rem;
  z-index: 1;
}
/* 
.i-home-cards-title::before {
    border-bottom: 1px solid;
    width: 100vw;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
} */
/* CTA */
.i-cta {
  background-color: hsl(var(--complementary-color) 50% 90%);
}
.i-cta h2 {
  color: #000;
}
.i-cta p {
  max-width: 50ch;
  margin-inline: auto;
}
.i-cta p + p {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
.i-cta form {
  display: flex;
  flex-direction: column;
  max-width: 50ch;
  margin-inline: auto;
  gap: 1rem;
  width: 100%;
}
.i-cta .flex {
  flex-direction: column;
}
.i-cta-form .flex-column {
  position: relative;
}
.i-cta label {
  align-self: flex-start;
  height: 0;
  font-size: var(--small);
  font-weight: 700;
  text-align: left;
  letter-spacing: var(--letter-spacing);
  visibility: hidden;
}
.i-cta-icon {
  height: 1em;
  width: 1em;
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
  line-height: 1;
}
.i-cta-icon svg {
  height: 100%;
  width: 100%;
}
/* form states */
.i-cta input {
  width: 100%;
  padding: 0.5em 0.5em 0.5em 2em;
  font-family: inherit;
  font-size: inherit;

  font-weight: 700;
  background-color: var(--white);
  border: 3px solid var(--secondary);
}
.i-cta input.focus-visible,
.i-cta:hover {
  border-color: var(--primary);
  outline: none;
}
.i-cta input:focus-visible,
.i-cta:hover {
  border-color: var(--primary);
  outline: none;
}
.i-cta button {
  padding: var(--button-padding);
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  background-color: var(--primary);
}
.i-cta button:hover,
.i-cta button.focus-visible {
  background-color: var(--secondary);
  border: none;
  outline: none;
}
.i-cta button:hover,
.i-cta button:focus-visible {
  background-color: var(--secondary);
  border: none;
  outline: none;
}
.i-cta button:focus {
}
.i-mail-success,
.i-mail-error,
.i-mail-loading {
  display: none;
}
.success .i-mail-success,
.error .i-mail-error,
.loading .i-mail-loading {
  display: inline;
  display: initial;
}
.success .i-mail-default,
.error .i-mail-default,
.loading .i-mail-default {
  display: none;
}
.i-mail-loading {
  -webkit-animation: rotate 1s linear infinite;
          animation: rotate 1s linear infinite;
}
@-webkit-keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
.loading button {
  pointer-events: none;
}
/* Header */
.i-post-header {
  position: relative;
  height: 95vh;
  --inline: 8vw;
}
.i-post-header::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}
.i-post-header-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.i-post-header-grid {
  grid-template: auto 1fr 1fr / 1fr 1fr;

  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.i-post-header-navbar,
.i-post-header-text,
.i-post-header-meta {
  position: relative;
  z-index: 1;
  color: var(--white);
}
.i-post-header-grid .i-nav-flex {
  grid-column: 1 / span 2;
  align-self: start;
  position: relative;
  z-index: 1;
}
.i-post-header-text {
  grid-column: 1 / span 2;
  align-self: flex-end;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
}
.i-post-header h1 {
  /* font-size: var(--h2); */
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--tag);
}
.i-post-header-meta {
  text-align: right;
  grid-column: 2 / -1;
  grid-row: 3;
}
.i-post-header-meta-author {
  font-weight: 700;
  text-transform: uppercase;
}
.i-post-header-meta-author a {
  color: var(--white);
  text-decoration: none;
}
.i-post-header-meta-date {
  font-size: var(--small);
  text-transform: uppercase;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}
.i-post-header-share {
  justify-content: flex-end;
}
.i-icon {
  width: 1rem;
  height: 2rem;
  line-height: 1;
}
.i-icon svg {
  width: 100%;
  height: 100%;
  color: var(--tag);
}
.i-copy-button .copied {
  display: none;
}
.copied span {
  display: none;
}
.copied .copied {
  display: inline;
  display: initial;
}
.i-post-header-caption {
  grid-row: 3;
  position: relative;
  color: var(--white);
  font-size: var(--x-small);
  text-transform: uppercase;
  z-index: 1;
  align-self: end;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  opacity: 0.5;
  gap: 0.5em;
}
@media (min-width: 768px) {
  .i-post-header-grid {
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .i-post-header-text {
    grid-column: 1 / span 1;
    max-width: 60ch;
    -webkit-padding-start: var(--inline);
            padding-inline-start: var(--inline);
  }

  .i-post-header-meta {
    grid-column: 2 / -1;
    -webkit-padding-end: var(--inline);
            padding-inline-end: var(--inline);
  }

  .i-post-header-caption {
    -webkit-margin-start: var(--inline);
            margin-inline-start: var(--inline);
  }
}
.i-post-header-caption-text {
  display: none;
}
.i-post-header-caption-text,
.i-post-header-caption-text a {
  color: var(--tag);
}
.i-show .i-post-header-caption-text {
  display: inline;
  display: initial;
}
.i-post-header-caption svg {
  height: 1rem;
  width: 1rem;
  color: var(--white);
}
/* Post body */
.i-post-container {
  background-color: var(--surface);
  color: var(--element);
  -webkit-padding-before: 3rem;
          padding-block-start: 3rem;
}
.i-post-container-grid {
  grid-template-columns: var(--gap) [content-start] 1fr [content-end] var(--gap);
}
.i-post-grid {
  grid-template-columns: 1fr 1fr [content-start] minmax(0, 640px) [content-end] 1fr 1fr;
  grid-column: content;
  overflow: hidden;
}
.i-post-grid > * {
  grid-column: content;
}
.post-template .i-footer {
  padding: 2rem 1rem;
}
.post-template .i-footer a {
  color: var(--element-light);
}
/* Related posts */
.i-related-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: var(--gap);
  max-width: var(--width);
  margin: 5rem auto;
}
.i-related-grid h2 {
  grid-column: 1 / -1;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
.i-related-grid .i-card-line-tag,
.i-related-grid .i-card-line-title a {
  color: var(--element);
}
/* These styles define the content of a post (and page). You could add styles for bold font, quotes, etc. */
.post > * {
  margin-bottom: 1rem;
}
.post > ul,
.post > ol {
  -webkit-padding-start: 1rem;
          padding-inline-start: 1rem;
  list-style-position: inside;
}
.post hr {
  height: 1px;
  background-color: var(--border-color);
  border: none;
}
/* Table */
.post table {
  width: 100%;
  border-collapse: collapse;
  margin-block: 3rem;
}
.post tbody tr {
  border-top: 1px solid var(--border-color);
}
.post tbody tr:last-child {
  border-bottom: 1px solid var(--border-color);
}
.post tbody tr:hover {
  background-color: var(--surface-dark);
}
.post thead th {
  padding: 0.5em;
  font-family: var(--heading-typeface);
  text-align: left;
}
.post tbody td {
  padding: 0.5em;
  font-size: var(--small);
}
/* Caption */
.post figcaption {
  font-size: var(--small);
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em;
}
/* Syntax highlighting */
.post .i-language {
  position: absolute;
  right: 4px;
  font-size: var(--x-small);
  top: 0;
}
/* Components */
/* Line card */
.i-card-line {
  position: relative;
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  padding-block: 1rem;
}
.i-card-line-flex {
  align-items: center;
  gap: 0.5em;
  font-size: var(--small);
}
.i-card-line-tag {
  font-weight: 700;
  /* font-family: var(--heading-typeface); */
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}
.i-card-line-date {
  margin: 0;
  color: var(--primary);
}
.i-card-line-title {
  font-size: var(--h5);
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
  margin-block: 1rem 3rem;
}
.i-card-line-title a {
  color: inherit;
  text-decoration: none;
}
.i-card-line-title a:hover {
  color: var(--primary);
}
.i-card-line img {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  width: 3rem;
  height: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}
/* Picture cards */
.i-picture-card {
  width: 100%;
  overflow: hidden;
}
.i-picture-card-link-flex {
  position: relative;
  flex: 0;
  align-items: center;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  aspect-ratio: 3 / 4;
}
.i-picture-card-link-flex::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: rgba(0, 0, 0, 0.5);
}
.i-picture-card-link-flex:hover img,
.i-picture-card-link-flex:focus img {
  transform: scale(1.5) rotate(15deg);
}
.i-picture-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.i-picture-card-title {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 1rem;
  font-size: 1.1rem;
  color: var(--white);
  text-transform: uppercase;
}
summary:hover {
  cursor: pointer;
}
.i-toc-content strong {
  text-transform: uppercase;
  font-family: var(--heading-typeface);
  font-size: var(--small);
  letter-spacing: var(--letter-spacing);
}
.i-toc-content a {
  text-decoration: none;
  color: inherit;
}
[class^='i-toc-h'] {
  color: var(--primary);
}
[class^='i-toc-h'] a:hover {
  color: var(--secondary);
}
.i-toc-h2::before {
  content: '\002015';
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
  color: inherit;
}
.i-toc-h3::before {
  content: '\002015\002015';
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
  color: inherit;
}
.i-toc-h4::before {
  content: '\002015\002015\002015';
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
  color: inherit;
}
.i-toc-h5::before {
  content: '\002015\002015\002015\002015';
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
  color: inherit;
}
.i-toc-h6::before {
  content: '\002015\002015\002015\002015\002015';
  -webkit-margin-end: 0.5em;
          margin-inline-end: 0.5em;
  color: inherit;
}
.i-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--surface);

  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--element);
  text-align: center;
  z-index: 1000;
}
.i-menu.i-show {
  display: flex;
}
.i-menu-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: var(--element);
  height: 2.5rem;
  width: 2.5rem;
}
.i-menu .nav {
  list-style-type: none;
}
.i-menu .nav a {
  font-size: var(--h2);
  font-family: var(--heading-typeface);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  text-decoration: none;
}
.i-menu .nav a:hover,
.i-menu .nav a:focus {
  color: var(--secondary);
}
.i-menu .nav-current a {
  color: var(--secondary);
}
.i-menu h2 {
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  margin: 0;
  line-height: 1.6;
}
.i-mode-button {
  color: var(--element);
  text-transform: uppercase;
  padding: var(--button-padding);
  font-weight: 700;
  margin-block: var(--gap);
  background-color: hsla(
    var(--primary-h),
    var(--saturation),
    var(--lightness),
    0.25
  );
  color: hsl(var(--primary-h) var(--saturation) 10%);
}
[data-color-pref='dark'] .i-mode-button {
  color: hsl(var(--primary-h) var(--saturation) 90%);
}
.i-mode-button:hover,
.i-mode-button.focus-visible {
  color: var(--element);
  background-color: hsla(
    var(--complementary-color),
    var(--saturation),
    var(--lightness),
    0.25
  );
}
.i-mode-button:hover,
.i-mode-button:focus-visible {
  color: var(--element);
  background-color: hsla(
    var(--complementary-color),
    var(--saturation),
    var(--lightness),
    0.25
  );
}
.i-mode-button svg {
  width: 1em;
  height: 1em;
  transform: translateY(13%);
}
[data-color-pref='dark'] [data-pref='dark'] {
  display: none;
}
[data-color-pref='light'] [data-pref='light'] {
  display: none;
}
.i-menu-saves {
  margin-block: 3rem;
}
.i-color {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  background: var(--secondary);
  cursor: pointer;
  border: none;
}
::-webkit-color-swatch {
  border-radius: 50%;
}
.i-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1000;
  background-color: var(--surface);
  overflow-y: auto;
  -webkit-padding-after: 3rem;
          padding-block-end: 3rem;
}
.i-search.i-show {
  display: inline;
  display: initial;
}
.i-search-input-container {
  padding: 1em;
  background-color: var(--surface);
}
.i-search-icon,
.i-search-close svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--element);
}
.i-search-input {
  background-color: transparent;
  font-family: inherit;
  line-height: inherit;
  font-size: var(--h4);
  color: var(--element);
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--element);
}
.i-search-input.focus-visible {
  border-color: var(--primary);
  outline: none;
}
.i-search-input:focus-visible {
  border-color: var(--primary);
  outline: none;
}
.i-search-results {
  -webkit-margin-before: 3rem;
          margin-block-start: 3rem;
  padding: 0 3.5rem;
}
.i-search-result {
  font-size: var(--h3);
  /* text-transform: uppercase; */
  /* letter-spacing: var(--letter-spacing); */
  /* text-align: center; */
  font-weight: 700;
  line-height: 1.3;
}
.i-search-result + div {
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
}
.i-search-result a {
  text-decoration: none;
  color: var(--primary);
}
.i-search-result a:hover,
.i-search-result a.focus-visible {
  color: var(--secondary);
}
.i-search-result a:hover,
.i-search-result a:focus-visible {
  color: var(--secondary);
}
.i-search-excerpt {
  color: var(--element);
  font-size: var(--small);
  font-weight: normal;
  line-height: 1.6;
}
.i-search-tags {
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}
.i-search-score {
  height: 1px;
  background-image: linear-gradient(to right, var(--element), transparent);
  opacity: 0.25;
}
.i-search-tag {
  font-size: var(--x-small);
  color: var(--surface);
  text-transform: uppercase;
  background: var(--element);
  padding: var(--button-padding);
  display: inline-block;
  white-space: nowrap;
}
/* Vendor */
/* These styles are required by Ghost 👻 and apply to editor cards. These styles are derived from Ghost defaults: https://ghost.org/docs/themes/content/ */
/* Image Card */
.kg-image-card {
  margin-block: 3rem;
}
.kg-image-card img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* By using CSS grid, you can have an elegant solution to accomodate wide/full image cards and other embeds */
.kg-width-wide {
  grid-column: 2 / -2;
}
.kg-width-full {
  grid-column: 1 / -1;
}
/* Gallery */
.kg-gallery-card {
  grid-column: 1 / -1;
}
.kg-image-card:not(.kg-card-hascaption) + .kg-image-card,
.kg-image-card:not(.kg-card-hascaption) + .kg-gallery-card,
.kg-gallery-card:not(.kg-card-hascaption) + .kg-image-card,
.kg-gallery-card:not(.kg-card-hascaption) + .kg-gallery-card {
  margin-top: var(--gap);
}
.kg-gallery-container {
  position: relative;
}
.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.kg-gallery-image img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}
.kg-gallery-row:not(:first-of-type) {
  margin: var(--gap) 0 0;
}
.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 var(--gap);
}
@media (max-width: 600px) {
  .kg-gallery-card,
  .kg-image-card {
    --gap: 0.6rem;
  }
}

/*# sourceMappingURL=app.css.map */