/* Shared */
.i-card-grid {
  grid-template-columns: minmax(10rem, 20rem);
  gap: 2rem;
  justify-content: center;
}

@media (--phone) {
  .i-card-grid {
    grid-template-columns: repeat(2, minmax(10rem, 18rem));
  }
}

@media (--tablet) {
  .i-card-grid {
    grid-template-columns: repeat(3, minmax(10rem, 15rem));
  }
}

/* Line card */
.i-card-line {
  position: relative;
  padding-block: 1rem;
  margin-block-end: 1rem;
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}

.i-card-line-flex {
  gap: 0.5em;
  align-items: center;
  font-size: var(--x-small);
}

.i-card-line-tag {
  font-weight: 700;
  /* font-family: var(--heading-typeface); */
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.i-card-line-date {
  margin: 0;
  color: var(--primary);
}

.i-card-line-title {
  margin-block: 1rem 3rem;
  font-size: var(--h4);
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
}

.i-card-line-title a {
  color: inherit;
  text-decoration: none;
}

.i-card-line-title a:hover {
  color: var(--primary);
}

.i-card-line img {
  position: absolute;
  right: 1rem;
  bottom: -1rem;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

/* Picture cards */
.i-picture-card {
  width: 100%;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.i-picture-card-link-flex {
  position: relative;
  flex: 0;
  align-items: center;
  width: 100%;
  aspect-ratio: 3 / 4;
  padding: 1rem;
  text-decoration: none;
}

.i-picture-card-link-flex::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  /* background: rgba(0 0 0 / 0.5); */
  mix-blend-mode: color;
}

@supports (backdrop-filter: brightness(0.5)) {
  .i-picture-card-link-flex::after {
    backdrop-filter: brightness(0.5);
  }
}

.i-picture-card-link-flex img {
  transition: transform 0.25s;
}

.i-picture-card-link-flex:hover img,
.i-picture-card-link-flex:focus img {
  transform: scale(1.5) rotate(15deg);
}

.i-picture-card picture,
.i-picture-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.i-picture-card-title {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: var(--h4);
  color: var(--white);
  text-transform: uppercase;
}
