.i-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: var(--element);
  text-align: center;
  background: var(--surface);
}

.i-menu.i-show {
  display: flex;
}

.i-menu-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--element);
}

.i-menu .nav {
  list-style-type: none;
}

.i-menu .nav a {
  font-family: var(--heading-typeface);
  font-size: var(--h2);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.i-menu .nav a:hover,
.i-menu .nav a:focus {
  color: var(--secondary);
}

.i-menu .nav-current a {
  color: var(--secondary);
}

.i-menu h2 {
  margin: 0;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.i-mode-button {
  padding: var(--button-padding);
  font-weight: 700;
  color: var(--element);
  color: hsl(var(--primary-h), var(--saturation), 10%);
  text-transform: uppercase;
  background-color: hsla(
    var(--primary-h),
    var(--saturation),
    var(--lightness),
    0.25
  );
  margin-block: var(--gap);
}

[data-color-pref='dark'] .i-mode-button {
  color: hsl(var(--primary-h), var(--saturation), 90%);
}

.i-mode-button:hover,
.i-mode-button:focus-visible {
  color: var(--element);
  background-color: hsla(
    var(--complementary-color),
    var(--saturation),
    var(--lightness),
    0.25
  );
}

.i-mode-button svg {
  width: 1em;
  height: 1em;
  transform: translateY(13%);
}

[data-color-pref='dark'] [data-pref='dark'] {
  display: none;
}

[data-color-pref='light'] [data-pref='light'] {
  display: none;
}

.i-menu-saves {
  margin-block: 3rem;
}

.i-color {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  background: var(--secondary);
  border: none;
  border-radius: 50%;
}

::-webkit-color-swatch {
  border-radius: 50%;
}
