.i-pagination {
  margin-inline: auto;
  justify-content: center;
  padding: 3rem 1rem;
  font-size: var(--small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  font-weight: 700;
  font-family: var(--heading-typeface);
  align-items: center;
  line-height: 1;
}

.i-pagination a {
  color: var(--white);
  text-decoration: none;
}

.i-number {
  border: 1px solid;
  padding: 0.25em;

  font-variant-numeric: tabular-nums;
  text-align: center;
}

.i-pagination svg {
  width: 2em;
  height: 2em;
  fill: currentColor;
}

a.i-current {
  background-color: var(--white);
  color: var(--primary);
}
