.i-pagination {
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  margin-inline: auto;
  font-family: var(--heading-typeface);
  font-size: var(--small);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.i-pagination a:not(.i-current) {
  color: var(--white);
  text-decoration: none;
}

.i-number {
  padding: 0.25em;

  font-variant-numeric: tabular-nums;
  text-align: center;
  border: 1px solid;
}

.i-pagination svg {
  width: 2em;
  height: 2em;
  fill: currentcolor;
}

.i-current {
  color: var(--primary);
  text-decoration: none;
  background-color: var(--white);
}
