summary:hover {
    cursor: pointer;
}

.i-toc-content strong {
    text-transform: uppercase;
    font-family: var(--heading-typeface);
    font-size: var(--small);
    letter-spacing: var(--letter-spacing);
}

.i-toc-content a {
    text-decoration: none;
    color: inherit;
}

[class^="i-toc-h"] {
    color: var(--primary);
    
}

[class^="i-toc-h"] a:hover {
    color: var(--secondary);
}

.i-toc-h2::before {
    content: "\00274D";
    margin-inline-end:.5em;
    color: inherit;
}

.i-toc-h3::before {
    content: "\00274D\00274D";
    margin-inline-end:.5em;
    color: inherit;
}


.i-toc-h4::before {
    content: "\00274D\00274D\00274D";
    margin-inline-end:.5em;
    color: inherit;
}


.i-toc-h5::before {
    content: "\00274D\00274D\00274D\00274D";
    margin-inline-end:.5em;
    color: inherit;
}


.i-toc-h6::before {
    content: "\00274D\00274D\00274D\00274D\00274D";
    margin-inline-end:.5em;
    color: inherit;
}
