summary:hover {
  cursor: pointer;
}

.i-toc-content strong {
  font-family: var(--heading-typeface);
  font-size: var(--small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.i-toc-content a {
  color: inherit;
  text-decoration: none;
}

[class^='i-toc-h'] {
  color: var(--primary);
}

[class^='i-toc-h'] a:hover {
  color: var(--secondary);
}

.i-toc-h2::before {
  margin-inline-end: 0.5em;
  color: inherit;
  content: '\002015';
}

.i-toc-h3::before {
  margin-inline-end: 0.5em;
  color: inherit;
  content: '\002015\002015';
}

.i-toc-h4::before {
  margin-inline-end: 0.5em;
  color: inherit;
  content: '\002015\002015\002015';
}

.i-toc-h5::before {
  margin-inline-end: 0.5em;
  color: inherit;
  content: '\002015\002015\002015\002015';
}

.i-toc-h6::before {
  margin-inline-end: 0.5em;
  color: inherit;
  content: '\002015\002015\002015\002015\002015';
}
