/* These styles define the content of a post (and page). You could add styles for bold font, quotes, etc. */

.post > * {
  margin-bottom: 1rem;
}

.post > ul,
.post > ol {
  padding-inline-start: 1rem;
  list-style-position: inside;
}

.post hr {
  height: 1px;
  background-color: var(--border-color);
  border: none;
}

/* Table */

.post table {
  width: 100%;
  margin-block: 3rem;
  border-collapse: collapse;
}

.post tbody tr {
  border-top: 1px solid var(--border-color);
}

.post tbody tr:last-child {
  border-bottom: 1px solid var(--border-color);
}

.post tbody tr:hover {
  background-color: var(--surface-dark);
}

.post thead th {
  padding: 0.5em;
  font-family: var(--heading-typeface);
  text-align: left;
}

.post tbody td {
  padding: 0.5em;
  font-size: var(--small);
}

/* Caption */
.post figcaption {
  padding: 0.5em;
  font-size: var(--small);
  text-align: center;
  text-transform: uppercase;
}

/* Syntax highlighting */
.post .i-language {
  position: absolute;
  top: 0;
  right: 4px;
  font-size: var(--x-small);
  color: #ebff87;
}

/* To ensure zoomed images sit atop other content */
.medium-zoom-overlay,
.medium-zoom-image--opened {
  z-index: 2;
}
