.home-template {
  padding: 1rem;
}

.i-home-section {
  padding: 3rem 2rem;
  margin-inline: auto;
  max-width: calc(100% - 4rem);
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  scroll-snap-align: center;
  --bg-primary-1: hsl(var(--primary-h), 50%, 10%);
  --bg-primary-2: hsl(var(--primary-h), 50%, 10%);
  --bg-secondary-1: hsl(var(--complementary-color), 50%, 10%);
  --bg-secondary-2: hsl(var(--complementary-color), 50%, 10%);
  --bg-tertiary-1: hsl(calc(var(--primary-h) + 300), 50%, 10%);
}

.i-home-section:nth-of-type(2) {
  background-color: var(--bg-secondary-1);
}

.i-home-section:nth-of-type(3) {
  background-color: var(--bg-tertiary-1);
}

.i-home-section:nth-of-type(5) {
  background-color: var(--bg-primary-2);
}

.i-home-section:nth-of-type(7) {
  background-color: var(--bg-secondary-2);
}

/* Hero */
.i-hero {
  --inline: 12vw;
  position: relative;

  height: 90vh;
  padding-bottom: 5rem;
  margin-block-start: 1rem;
  overflow: hidden;
  background-color: var(--bg-primary-1);
  padding: 0;
}

.i-hero-grid-flex {
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.i-hero-inner-border {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  height: calc(100% - 3rem);
  width: calc(100% - 3rem);
  border-color: hsl(var(--complementary-color), 70%, 80%);
  border-style: solid;
  border-width: 1rem 1rem 0;
  transform: translateX(-50%);
  pointer-events: none;
}

.i-hero-grid {
  grid-template-columns: 1fr 1fr;
  margin-block: 3rem;
  gap: 3rem;
}

.i-hero-img {
  width: 100%;
  height: 22rem;
  object-fit: cover;
  transform: translateY(-15%);
}

.i-hero-content-container {
  max-width: 69rem;
  margin-inline: auto;
}

.i-hero-text {
  font-size: 1.15rem;
  color: var(--white);
  margin-inline-start: var(--inline);
}

.i-hero-text p:first-of-type {
  font-family: var(--heading-typeface);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.i-hero-text p:not(:first-child) {
  margin-block-start: 1rem;
}

.i-hero-grid-cards {
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  margin-inline: var(--inline);
  margin-block-end: 3rem;
}

/* Poodle */
.i-poodle {
  aspect-ratio: 16 / 9;
  position: relative;
}

.i-home-section.i-poodle {
  min-height: auto;
}

.i-poodle::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: var(--secondary);
  mix-blend-mode: saturation;
}

.i-poodle video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.i-poodle-flex {
  position: relative;
  position: relative;
  z-index: 1;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: var(--heading-typeface);
  font-size: var(--h2);
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.i-poodle-top p + p {
  margin-top: 0.15rem;
}

.i-poodle-top p:first-child {
  opacity: 0.25;
}

.i-poodle-top p:nth-child(2) {
  opacity: 0.75;
}

/* Cards */
.i-home-cards-grid {
  grid-template-columns: repeat(3, minmax(10rem, 12rem));
  column-gap: var(--gap);
  row-gap: 3rem;
  justify-content: center;
}

.i-home-cards {
  overflow: hidden;
}

.i-home-cards-bg-2 {
}

.i-home-cards-title-flex {
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  margin: 1rem 0 2rem;
}

.i-home-cards-title {
  /* transform: translateY(25%); */
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 3rem;
  z-index: 1;
}

/* 
.i-home-cards-title::before {
    border-bottom: 1px solid;
    width: 100vw;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
} */

/* CTA */
.i-cta {
  background-color: hsl(var(--complementary-color), 50%, 90%);
}

.i-cta h2 {
  color: #000;
}

.i-cta p {
  max-width: 50ch;
  margin-inline: auto;
}
.i-cta p + p {
  margin-block-start: 1em;
}

.i-cta form {
  display: flex;
  flex-direction: column;
  max-width: 50ch;
  margin-inline: auto;
  gap: 1rem;
  width: 100%;
}

.i-cta .flex {
  flex-direction: column;
}

.i-cta-form .flex-column {
  position: relative;
}

.i-cta label {
  align-self: flex-start;
  height: 0;
  font-size: var(--small);
  font-weight: 700;
  text-align: left;
  letter-spacing: var(--letter-spacing);
  visibility: hidden;
}

.i-cta-icon {
  height: 1em;
  width: 1em;
  position: absolute;
  top: 50%;
  left: 0.5em;
  transform: translateY(-50%);
}

/* form states */

.i-cta input {
  width: 100%;
  padding: 0.5em 0.5em 0.5em 2em;
  font-family: inherit;
  font-size: inherit;

  font-weight: 700;
  background-color: var(--white);
  border: 3px solid var(--secondary);
}

.i-cta input:focus-visible,
.i-cta:hover {
  border-color: var(--primary);
  outline: none;
}

.i-cta button {
  padding: var(--button-padding);
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  background-color: var(--primary);
}

.i-cta button:hover,
.i-cta button:focus-visible {
  background-color: var(--secondary);
  border: none;
  outline: none;
}

.i-cta button:focus {
}
