.i-home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 8rem 2rem;
  margin-inline: auto;
  scroll-snap-align: center;
  --bg-primary-1: hsl(var(--primary-h), 50%, 10%);
  --bg-primary-2: hsl(calc(var(--primary-h) - 30), 50%, 10%);
  --bg-secondary-1: hsl(var(--complementary-h), 50%, 10%);
  --bg-secondary-2: hsl(calc(var(--complementary-h) - 30), 50%, 10%);
  --bg-tertiary-1: hsl(calc(var(--primary-h) + 30), 50%, 10%);
}

.home-template {
  padding-bottom: 1rem;
  --primary: hsl(var(--primary-h) var(--saturation) 70%);
  --secondary: hsl(var(--complementary-h) var(--saturation) 70%);
}

.home-template .i-nav-flex {
  padding: 1rem;
}

@media (--laptop) {
  .home-template .i-nav-flex {
    padding: 0;
  }
  .home-template {
    padding: 1rem;
  }
}

@media (--desktop) {
  .i-home-section {
    max-width: calc(100% - 4rem);
  }
}

.i-home-section:nth-of-type(2) {
  background-color: var(--bg-secondary-1);
}

.i-home-section:nth-of-type(3) {
  background-color: var(--bg-tertiary-1);
}

.i-home-section:nth-of-type(5) {
  background-color: var(--bg-primary-2);
}

.i-home-section:nth-of-type(7) {
  background-color: var(--bg-secondary-2);
}

/* Poodle */
.i-poodle {
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 3rem 0;
  font-family: var(--heading-typeface);
  font-size: var(--h2);
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

/* .i-poodle-video-wrapper::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background-color: var(--secondary);
  mix-blend-mode: saturation;
} */

.i-poodle-video-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-block: 3rem;
}

.i-poodle-video-wrapper video {
  width: 100%;
  height: 100%;
}

.i-poodle p {
  padding: 0 1rem;
}

.i-poodle-top p + p {
  margin-top: 0.15rem;
}

.i-poodle-top p:first-child {
  opacity: 0.25;
}

.i-poodle-top p:nth-child(2) {
  opacity: 0.75;
}

/* Cards */

.i-home-cards {
  overflow: hidden;
}

.i-home-cards-title-flex {
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem;
  font-size: 3rem;
}

.i-home-cards-title {
  z-index: 1;
  margin: 0 0 3rem;
  /* transform: translateY(25%); */
  font-size: 3rem;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
}

.i-home-cards-title a,
.i-dalle a {
  color: inherit;
  text-decoration: none;
}

.i-home-cards-title a:hover:after {
  content: '\0027A9';
  margin-inline-start: 0.5em;
}

/* Dalle */
.i-dalle img {
  max-width: 100%;
}

.i-dalle figcaption {
  font-size: small;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
