/* Header */
.i-post-header {
  position: relative;
  height: 90vh;
}

.i-post-header::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.5);
}

.i-post-header-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.i-post-header-grid {
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.i-post-header-navbar,
.i-post-header-text,
.i-post-header-meta {
  position: relative;
  z-index: 1;
  color: var(--white);
}

.i-post-header-grid .i-nav-flex {
  grid-column: 1 / span 2;
  align-self: start;
  position: relative;
  z-index: 1;
}

.i-post-header-text {
  grid-column: 1 / span 1;
  max-width: 60ch;
  padding-inline-start: 5rem;
}

.i-post-header h1 {
  /* font-size: var(--h2); */
  line-height: 1.1;
  text-transform: uppercase;
}

.tag-ghost-tag h1,
.tag-ghost-tag .i-icon {
  color: hsl(calc(var(--primary-h) + 20), var(--saturation), 90%);
}

.tag-web-design h1,
.tag-web-design .i-icon {
  color: hsl(calc(var(--primary-h) * 0.25), var(--saturation), 80%);
}

.tag-words h1,
.tag-words .i-icon {
  color: hsl(calc(var(--primary-h) - 70), var(--saturation), 80%);
}

.i-post-header-meta {
  text-align: right;
  grid-column: 2 / -1;
  grid-row: 3;
  padding-inline-end: 5rem;
}

.i-post-header-meta-author {
  font-weight: 700;
  text-transform: uppercase;
}

.i-post-header-meta-author a {
  color: var(--white);
  text-decoration: none;
}

.i-post-header-meta-date {
  font-size: var(--small);
  text-transform: uppercase;
  margin-block-start: 0;
}

.i-post-header-share {
  justify-content: flex-end;
}

.i-icon {
  width: 1rem;
  height: 2rem;
  line-height: 1;
}

.i-icon > svg {
  width: 100%;
  height: 100%;
}

.i-copy-button .copied {
  display: none;
}

.copied span {
  display: none;
}

.copied .copied {
  display: initial;
}

.i-post-header-caption {
  grid-row: 3;
  position: relative;
  color: var(--white);
  font-size: var(--x-small);
  text-transform: uppercase;
  z-index: 1;
  align-self: end;
  margin-inline-start: 5rem;
  opacity: 0.5;
}
/* Post body */
.i-post-container-grid {
  grid-template-columns: var(--gap) [content-start] 1fr [content-end] var(--gap);
  background-color: var(--surface);
  color: var(--element);
  padding-block: 3rem;
}

.i-post-grid {
  grid-template-columns: 1fr 1fr [content-start] minmax(0, 640px) [content-end] 1fr 1fr;
  grid-column: content;

  overflow: hidden;
}

.i-post-grid > * {
  grid-column: content;
}
