/* Header */
.i-post-header {
  position: relative;
  height: 95vh;
  --inline: 8vw;
}

.i-no-post-header-image {
  height: auto;
}

.i-post-header::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgb(0 0 0 / 0.5);
}

.i-no-post-header-image .i-post-header::after {
  display: none;
}

.i-post-header-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.i-post-header-grid {
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  grid-template: auto 1fr 1fr / 1fr 1fr;
}

.i-no-post-header-image .i-post-header-grid {
  grid-template: 1fr / 1fr;
}

.i-post-header-navbar,
.i-post-header-text,
.i-post-header-meta {
  position: relative;
  z-index: 1;
  color: var(--white);
}

.i-post-header-grid .i-nav-flex {
  position: relative;
  z-index: 1;
  align-self: start;
  grid-column: 1 / span 2;
}

.i-post-header-text {
  grid-column: 1 / span 2;
  align-self: flex-end;
  margin-block-start: 1rem;
}

.i-no-post-header-image .i-post-header-text {
  align-self: center;
  margin-block: 6rem;
  max-width: 100%;
  padding-inline: var(--inline);
  text-align: center;
}

.i-no-post-header-image h1 {
  margin-block-end: 0;
}

.i-post-header h1 {
  line-height: 1.1;
  text-transform: uppercase;
}

.i-post-header-text p {
  opacity: 0.75;
}

.i-post-header-meta {
  text-align: right;
  grid-column: 2 / -1;
  grid-row: 3;
}

.i-post-header-meta-author {
  font-weight: 700;
  text-transform: uppercase;
}

.i-post-header-meta-author a {
  color: var(--white);
  text-decoration: none;
}

.i-post-header-meta-date {
  font-size: var(--small);
  text-transform: uppercase;
  margin-block-start: 0;
  opacity: 0.75;
}

.i-post-header-share {
  justify-content: flex-end;
}

.i-icon {
  width: 1rem;
  height: 2rem;
  line-height: 1;
}

.i-icon svg {
  width: 100%;
  height: 100%;
  color: hsl(var(--primary-h) var(--saturation) 80%);
}

.i-copy-button .copied {
  display: none;
}

.copied span {
  display: none;
}

.copied .copied {
  display: initial;
}

.i-post-header-caption {
  position: relative;
  z-index: 1;
  align-self: end;
  font-size: var(--x-small);
  color: var(--white);
  text-transform: uppercase;
  opacity: 0.5;
  grid-row: 3;
  margin-block-end: 1rem;
  gap: 0.5em;
}

@media (--tablet) {
  .i-post-header-grid {
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
  }

  .i-post-header-text {
    grid-column: 1 / span 1;
    max-width: 60ch;
    padding-inline-start: var(--inline);
  }

  .i-post-header-meta {
    grid-column: 2 / -1;
    padding-inline-end: var(--inline);
  }

  .i-post-header-caption {
    margin-inline-start: var(--inline);
  }
}

.i-post-header-caption-text {
  display: none;
}

.i-post-header-caption-text,
.i-post-header-caption-text a {
  color: var(--tag);
}

.i-show .i-post-header-caption-text {
  display: initial;
}

.i-post-header-caption svg {
  width: 1rem;
  height: 1rem;
  color: var(--white);
}

/* Post body */
.i-post-container {
  color: var(--element);
  background-color: var(--surface);
  padding-block-start: 3rem;
}

.i-post-container-grid {
  grid-template-columns: var(--gap) [content-start] 1fr [content-end] var(--gap);
}

.i-post-grid {
  grid-template-columns: 1fr 1fr [content-start] minmax(0, 640px) [content-end] 1fr 1fr;
  grid-column: content;
  overflow: hidden;
}

.i-post-grid > * {
  grid-column: content;
}
.post-template .i-footer,
.page-template .i-footer {
  padding: 2rem 1rem;
}
.post-template .i-footer a,
.page-template .i-footer a {
  color: var(--element-light);
}

/* Related posts */
.i-related,
.i-comments {
  max-width: var(--width);
  padding: 0 var(--gap);
  margin: 5rem auto;
}

.i-related .i-card-grid {
  justify-content: start;
}

.i-related h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
}

.i-related .i-card-line-tag,
.i-related .i-card-line-title a {
  color: var(--element);
}
