/* Color scheme */
:root[data-color-pref='light'] {
  --primary: hsl(var(--primary-h) var(--saturation) 50%);
  --primary-light: hsl(var(--primary-h) var(--saturation) 60%);
  --primary-dark: hsl(var(--primary-h) var(--saturation) 40%);
  --secondary: hsl(var(--complementary-h) var(--saturation) 50%);
  --secondary-light: hsl(var(--complementary-h) var(--saturation) 60%);
  --secondary-dark: hsl(var(--complementary-h) var(--saturation) 40%);

  --surface: hsl(var(--primary-h) 5% 98%);
  --surface-85: hsla(var(--primary-h) 5% 98% / 0.85);
  --surface-light: hsl(var(--primary-h) 5% 100%);
  --surface-dark: hsl(var(--primary-h) 5% 89%);
  --surface-darker: hsl(var(--primary-h) 5% 82%);

  --element: hsl(var(--primary-h) 10% 5%);
  --element-light: hsl(var(--primary-h) 10% 35%);
  --element-dark: hsl(var(--primary-h) 10% 1%);
  --white: #fff;

  --border-color: hsla(var(--primary-h) 10% 82% / 0.5);
  --border-color-accent: hsla(var(--primary-h) 10% 72% / 0.5);
  --button-text: hsl(var(--primary-h) 10% 100%);

  --box-shadow: 0 0.7px 2.2px hsla(var(--primary-h) var(--saturation) 9% / 0.02),
    0 1.6px 5.3px hsla(var(--primary-h) var(--saturation) 9% / 0.028),
    0 3px 10px hsla(var(--primary-h) var(--saturation) 9% / 0.035),
    0 5.4px 17.9px hsla(var(--primary-h) var(--saturation) 9% / 0.042),
    0 10px 33.4px hsla(var(--primary-h) var(--saturation) 9% / 0.05),
    0 24px 80px hsla(var(--primary-h) var(--saturation) 9% / 0.07);
}

:root[data-color-pref='dark'] {
  /* Color */
  --primary: hsl(var(--primary-h) var(--saturation) 70%);
  --primary-light: hsl(var(--primary-h) var(--saturation) 80%);
  --primary-dark: hsl(var(--primary-h) var(--saturation) 60%);

  --secondary: hsl(var(--complementary-h) var(--saturation) 70%);
  --secondary-light: hsl(var(--complementary-h) var(--saturation) 80%);
  --secondary-dark: hsl(var(--complementary-h) var(--saturation) 60%);

  --element: hsl(var(--primary-h) 10% 96%);
  --element-light: hsl(var(--primary-h) 10% 100%);
  --element-dark: hsl(var(--primary-h) 10% 89%);
  --element-darker: hsl(var(--primary-h) 10% 82%);

  --surface: hsl(var(--primary-h) 5% 5%);
  --surface-85: hsla(var(--primary-h) 5% 5% / 0.85);
  --surface-light: hsl(var(--primary-h) 5% 15%);
  --surface-dark: hsl(var(--primary-h) 5% 3%);
  --surface-darker: hsl(var(--primary-h) 5% 1%);
  --white: #fff;

  --border-color: hsla(var(--primary-h) 10% 35% / 0.5);
  --border-color-accent: hsla(var(--primary-h) 10% 25% / 0.5);
  --button-text: hsl(var(--primary-h) 10% 3%);

  --box-shadow: 0 0.7px 2.2px hsla(var(--primary-h) var(--saturation) 1% / 0.02),
    0 1.6px 5.3px hsla(var(--primary-h) var(--saturation) 1% / 0.048),
    0 3px 10px hsla(var(--primary-h) var(--saturation) 1% / 0.055),
    0 5.4px 17.9px hsla(var(--primary-h) var(--saturation) 1% / 0.062),
    0 10px 33.4px hsla(var(--primary-h) var(--saturation) 1% / 0.07),
    0 24px 80px hsla(var(--primary-h) var(--saturation) 1% / 0.09);
}
