@custom-media --phone (min-width: 576px);
@custom-media --tablet (min-width: 768px);
@custom-media --laptop (min-width: 992px);
@custom-media --desktop (min-width: 1200px);
@custom-media --widescreen (min-width: 1400px);

:root {
  /* Space */
  --phone: 576px;
  --tablet: 768px;
  --laptop: 992px;
  --desktop: 1200px;
  --widescreen: 1400px;
  --gap: max(20px, 1rem);
  --width: 1024px;
  --post-width: 768px;
  --content-width: 650px;
  --radius: 0.5em;
  --button-padding: 0.5em 0.75em;

  /* Type */
  --heading-typeface: 'Archivo', sans-serif;
  --body-typeface: 'Libre Franklin', system-ui, sans-serif;
  --mono-typeface: 'JetBrains Mono', 'Cascadia Code', 'Fira Code', 'Menlo',
    monospace;
  --letter-spacing: 0.2px;
  --h1: 2.488rem;
  --h2: 2.074rem;
  --h3: 1.728rem;
  --h4: 1.44rem;
  --h5: 1.2rem;
  --h6: 1rem;
  --small: 0.833rem;
  --x-small: 0.694rem;
  --xx-small: 0.579rem;

  --gradient-bg: var(--primary);
  --mesh-gradient: radial-gradient(
      at 40% 20%,
      hsla(var(--primary-h), 100%, 74%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 80% 0%,
      hsla(calc(var(--primary-h) - 10), 100%, 56%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 0% 50%,
      hsla(var(--complementary-h), 100%, 93%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 80% 50%,
      hsla(calc(var(--complementary-h) + 10), 100%, 76%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 0% 100%,
      hsla(calc(var(--complementary-h) - 10), 100%, 77%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 80% 100%,
      hsla(calc(var(--primary-h) - 20), 100%, 70%, 1) 0,
      transparent 50%
    ),
    radial-gradient(
      at 0% 0%,
      hsla(calc(var(--primary-h) - 10), 100%, 76%, 1) 0,
      transparent 50%
    );
}

@media (--laptop) {
  :root {
    --gap: 1.5rem;
  }
}
